.App {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  background: #DCDEEC;
  border: none;
  border-radius: 10px;
  color: #004690;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  height: 35px;
  margin: 20px;
}

button:active {
  background: #c4c4c9;
}