.App {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
h1 {
  color: #81829E;
}

.mouse {
  text-align: center;
  animation: bounce 1.5s ease-in infinite;
  color: #81829E;
}

button {
  background: #DCDEEC;
  border: none;
  border-radius: 10px;
  color: #004690;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  height: 35px;
  margin: 20px;
}

button:active {
  background: #c4c4c9;
}

@keyframes bounce {
  0%,100% {
    transform: translateY(0px);
  }50% {
    transform: translateY(10px);
  }
}